@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");

html {
  font-size: 22px;
  margin: 0.1vw;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: peachpuff;
  color: #333;
  font-family: "Pangolin", cursive;
}

.header {
  font-family: "Lucida Sans", sans-serif;
  margin: 0;
}

#header2 {
  text-indent: 0.1vw;
}

p {
  text-indent: 0.1vw;
}
h5 {
  text-align: center;
}

header,
topnav,
main,
footer {
  display: grid;
  place-content: center;
  grid-template-columns: 100%;
}

main {
  flex-grow: 1;
}

.topnav {
  list-style-type: none;
  margin: 0;

  display: flex;
  flex-direction: row;
}

.navLi {
  float: left;
  display: block;
  text-align: center;
  padding: 0.1vw 0.3vw;
  text-decoration: none;
  font-size: 20px;
  width: 13vw;
  overflow: hidden;
}
.navLi:hover {
  transform: scale(1.2);
}

li a,
.dropbtn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  width: 20vw;
}

li.dropdown {
  display: inline-block;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #333;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

.dropdown {
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
  font-size: 20px;
  width: 20vw;
}

.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: #e7f1f1;
}

.dropdown-content a:hover {
  background-color: #94f8ff;
}

.dropdown:hover .dropdown-content {
  display: block;
}

a {
  color: #2e587e;
}

a:hover,
a:active {
  color: #98bccc;
  text-decoration: underline;
}

.flex-headerContainer {
  display: flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.flex-container {
  display: flex;
  justify-content: revert;
  align-items: stretch;
  align-content: stretch;
}

#flex1 {
  padding: 1rem;
  width: 75vw;
}
#flex2 {
  padding: 2rem;
  width: 25vw;
}

li {
  list-style-type: none;
}

table {
  width: 20vw;
}

thead th {
  border-bottom: 2px solid #6678b1;
}

.flex-price {
  display: flex;
  flex-flow: row nowrap;
  flex-shrink: 1;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}

.list {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: repeat(auto-fit, 300px);
}

.list > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a.nubex {
  color: #eee;
  user-select: none;
  text-decoration: none;
  outline: none;
  background-color: #2e587e;
  padding: 10px 10px;
}
a.nubex:active {
  background-color: #213e58;
}
a.nubex:hover {
  background-color: #4e93d3;
}

.kalsenumb-nailserestin {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.kalsenumb-nailserestin .senoeg-usingekin {
  overflow: hidden;
  overflow: hidden;
  width: 100%;
  height: 70vmin;
  margin: 0;
  padding: 0;
  list-style: none;
}
.kalsenumb-nailserestin .senoeg-usingekin > li {
  width: 100%;
  height: 70vmin;
  position: absolute;
  z-index: 1;
  overflow: hidden;
}
.kalsenumb-nailserestin .senoeg-usingekin > li > img {
  width: 100%;
  height: auto;
}

.kalsenumb-nailserestin .thumbnails {
  display: block;
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
}
.kalsenumb-nailserestin .thumbnails > li {
  float: left;
  width: 20%;
}
.kalsenumb-nailserestin .thumbnails > li > a {
  display: block;
}
.kalsenumb-nailserestin .thumbnails > li > a > img {
  width: 100%;
  height: auto;
}

.kalsenumb-nailserestin .senoeg-usingekin li:target {
  z-index: 3;
  -webkit-animation: makesang 1s 1;
}
.kalsenumb-nailserestin .senoeg-usingekin li:not(:target) {
  -webkit-animation: hidden 1s 1;
}
@-webkit-keyframes makesang {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@keyframes makesang {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@-webkit-keyframes hidden {
  0% {
    z-index: 2;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  100% {
    z-index: 2;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@keyframes hidden {
  0% {
    z-index: 2;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  100% {
    z-index: 2;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

.gesimp-lekalsen {
  width: 1275px;
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 15px;
  }

  .navLi {
    width: 40vw;
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: safe center;
    align-items: stretch;
    flex-direction: column-reverse;
  }

  #flex1 {
    width: 90vw;
  }

  #flex2 {
    width: 25vw;
    height: auto;
    padding: 0;
  }

  table {
    width: 80vw;
    margin: auto;
  }

  .flex-price {
    flex-flow: column nowrap;
  }

  .menu-button-container {
    display: flex;
  }
  .topnav {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .topnav .navLi {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .topnav .navLi {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .navLi,
  .dropdown {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #5c73a3;
  }
  .navLi:not(:last-child) {
    border-bottom: 1px solid #cacafd;
  }
}
